/* Markdown */
:root {
  --maincolor: #007cb8;
  --bordercl: rebeccapurple;
  --callouctcolor: dodgerblue;
  --hovercolor: #5e9ed5;
  --darkMaincolor: #ebd987;
  --darkBorderColor: #87ceeb;
}
html {
  color: #232333;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  line-height: 1.6em;
}
body {
  display: block;
  margin: 8px;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
  background: var(--maincolor);
  color: #fff;
}

p {
  font-family: "Fira Sans", sans-serif;
  line-height: 1.75;
  font-size: 1.15rem;
}

sup {
  margin-left: 0.25rem;
}

hr {
  border: 0;
  border-top: 3px dotted var(--bordercl);
  margin: 1em 0;
}

blockquote {
  border-left: 3px solid var(--bordercl);
  color: #070407;
  font-style: italic;
  margin: 0;
  padding-left: 1em;
}

a {
  border-bottom: 3px solid var(--maincolor);
  color: inherit;
  text-decoration: none;
}
a:hover {
  background-color: var(--hovercolor);
  color: #fff;
}

sup a {
  color: var(--maincolor);
  border: none;
}

ul {
  list-style: none;
  padding-left: 2ch;
}
ul li {
  text-indent: -2ch;
}
ul li::before {
  content: "* ";
  font-weight: bold;
}

/* Images */
img {
  border: 3px solid #ececec;
  max-width: 100%;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

figure img {
  max-height: 500px;
}

@media screen and (min-width: 600px) {
  figure {
    padding: 0 40px;
  }
}

figure h4 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1em;
}
figure h4::before {
  content: "↳ ";
}

/* Code blocks */
code {
  background-color: #f1f1f1;
  padding: 0.1em 0.2em;
}

pre {
  background-color: #ececec;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}

.highlight pre ::selection {
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

/* Containers */
.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1ch;
  word-wrap: break-word;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1.25em 0;
}

header .main {
  font-size: 1.5rem;
}
header .main .homepage {
  font-size: 1.15rem;
}

/* Webmentions */

.webmention .comment-date {
  color: #797979;
}
.webmention .webmention-container {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem 0rem;
  align-items: center;
}

.webmention .webmention-content {
  padding: 0.5rem;
  width: 600px;
}

.webmention .webmention-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.webmention img {
  width: 60px;
  height: 60px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.2rem;
  margin-top: 2em;
}

h1::before {
  color: var(--maincolor);
  content: "# ";
}
h2::before {
  color: var(--maincolor);
  content: "## ";
}
h3::before {
  color: var(--maincolor);
  content: "### ";
}
h4::before {
  color: var(--maincolor);
  content: "#### ";
}
h5::before {
  color: var(--maincolor);
  content: "##### ";
}
h6::before {
  color: var(--maincolor);
  content: "###### ";
}

.title h1.title {
  font-size: 1.75rem;
  line-height: 2rem;
}

/* Footer */
footer {
  margin-top: 1em;
}

/* Common */
.title h1 {
  margin-bottom: 0;
}

time {
  color: grey;
}

/* Posts */
article .title {
  margin-bottom: 1em;
}

/* Callout */
.callout {
  background-color: var(--callouctcolor);
  color: #fff;
  padding: 1em;
}

.callout p {
  font-family: "IBM Plex Mono", monospace;
  margin: 0;
}

.callout a {
  border-bottom: 3px solid #fff;
}

.callout a:hover {
  background-color: #fff;
  color: var(--callouctcolor);
}

.site-description {
  display: flex;
  justify-content: space-between;
}
/* Tags */
.tags li::before {
  content: "🏷️ ";
}
.tags a {
  border-bottom: 3px solid var(--maincolor);
}
.tags a:hover {
  color: white;
  background-color: var(--hovercolor);
}
.nav.tags ul.tags {
  display: flex;
}

.nav.tags ul.tags li {
  text-indent: inherit;
  margin-right: 1rem;
}

svg {
  max-height: 15px;
}
.soc:hover {
  color: white;
}
.draft-label {
  color: var(--bordercl);
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 6px;
  background-color: #f9f2f4;
}
.highlight {
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"] {
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"]::before {
  background: black;
  border-radius: 0 0 0.25rem 0.25rem;
  color: white;
  font-size: 12px;
  letter-spacing: 0.025rem;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 1rem;
  text-align: right;
  text-transform: uppercase;
  top: 0;
}

.highlight pre code[class="language-javaScript"]::before,
.highlight pre code[class="language-js"]::before {
  content: "js";
  background: #f7df1e;
  color: black;
}
.highlight pre code[class*="language-yml"]::before,
.highlight pre code[class*="language-yaml"]::before {
  content: "yaml";
  background: #f71e6a;
  color: white;
}
.highlight pre code[class*="language-shell"]::before,
.highlight pre code[class*="language-bash"]::before,
.highlight pre code[class*="language-sh"]::before {
  content: "shell";
  background: green;
  color: white;
}
.highlight pre code[class*="language-json"]::before {
  content: "json";
  background: dodgerblue;
  color: #000000;
}
.highlight pre code[class*="language-python"]::before,
.highlight pre code[class*="language-py"]::before {
  content: "py";
  background: blue;
  color: yellow;
}
.highlight pre code[class*="language-css"]::before {
  content: "css";
  background: cyan;
  color: black;
}
.highlight pre code[class*="language-go"]::before {
  content: "Go";
  background: cyan;
  color: royalblue;
}
.highlight pre code[class*="language-md"]::before,
.highlight pre code[class*="language-md"]::before {
  content: "Markdown";
  background: royalblue;
  color: whitesmoke;
}

/* Meta */
.meta {
  font-size: 0.85rem;
}

@media (max-width: 600px) {
  .nav.tags ul.tags {
    flex-wrap: wrap;
  }
  .nav.tags ul.tags li {
    margin-right: 0.5rem;
    margin-top: 0.5rem;
  }
}

/*! bettertext.css v2.0.4 | MIT License | github.com/paulradzkov/bettertext.css */
body {
  font-size: 1em;
  line-height: 1.5;
}
body:not([class]),
article:not([class]),
section:not([class]) {
  margin: calc(24px + 4vh) calc(10px + 4vw);
}
body:not([class]) article:not([class]),
article:not([class]) article:not([class]),
section:not([class]) article:not([class]),
body:not([class]) section:not([class]),
article:not([class]) section:not([class]),
section:not([class]) section:not([class]) {
  margin-left: 0;
  margin-right: 0;
}
p {
  margin: 0 0 1.5em;
  max-width: 50rem;
}
/* minimum paragraph width when floating http://css-tricks.com/minimum-paragraph-widths/ */
p:before,
ol:not([class]):before,
ul:not([class]):before {
  content: "";
  display: block;
  width: 10em;
  overflow: hidden;
}
li p:before {
  content: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}
h1 {
  font-size: 1.625em;
  line-height: 1.1;
  margin: 3.23076923em 0 0.92307692em;
}
h2 {
  font-size: 1.4375em;
  line-height: 1.2;
  margin: 3.13043478em 0 1.04347826em;
}
h3 {
  font-size: 1.25em;
  line-height: 1.3;
  margin: 3em 0 1.2em;
}
h4 {
  font-size: 1.125em;
  line-height: 1.4;
  margin: 2.66666667em 0 1.33333333em;
}
h5 {
  font-size: 1em;
  line-height: 1.5;
  margin: 2.25em 0 1.5em;
}
h6 {
  font-size: 0.75em;
  line-height: 2;
  margin: 2em 0 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.4375em;
    margin-top: 3.07692308em;
    margin-bottom: 0.61538462em;
  }
  h2 {
    font-size: 1.9375em;
    margin-top: 3.09677419em;
    margin-bottom: 0.77419355em;
  }
  h3 {
    font-size: 1.5625em;
    margin-top: 2.88em;
    margin-bottom: 0.96em;
  }
  h4 {
    font-size: 1.25em;
    margin-top: 2.4em;
    margin-bottom: 1.2em;
  }
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
/* double headers */
h1 + h2 {
  margin-top: 1.2em;
}
h2 + h3 {
  margin-top: 1.3em;
}
h3 + h4 {
  margin-top: 1.4em;
}
h4 + h5 {
  margin-top: 1.5em;
}
h5 + h6 {
  margin-top: 2em;
}
/* lists */
/* lists without classes */
ul:not([class]),
ol:not([class]) {
  margin: 0 0 1.5em;
  max-width: calc(47.5rem);
  padding-left: 0;
  padding-right: 2.5em;
}
ul:not([class]) ul,
ol:not([class]) ul,
ul:not([class]) ol,
ol:not([class]) ol {
  margin-bottom: 0;
}
ul:not([class]) li,
ol:not([class]) li {
  transform: translateX(2.5em);
  animation: fixlists 1s;
}
@keyframes fixlists {
  0% {
    text-indent: -0.001em;
  }
  100% {
    text-indent: 0;
  }
}
/* images */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
p img:not(:only-child) {
  vertical-align: baseline;
}
figure:not([class]) {
  margin: 3em 0;
}
figure:not([class]) > p {
  max-width: 37.5rem;
  font-size: 0.75em;
  margin: 0.5em 0 0;
}
figcaption {
  max-width: 37.5rem;
  font-size: 0.75em;
  margin: 0.5em 0 3em;
}
figcaption > p {
  margin: 0.5em 0 0;
}
/* blockquotes */
blockquote {
  max-width: calc(45rem);
  margin: 0 0 1.5em;
  padding: 1.5em 2.5em;
}
blockquote > p:last-child {
  margin-bottom: 0;
}
blockquote > footer,
blockquote > cite {
  display: block;
  font-size: 0.75em;
}
/* code */
pre {
  margin: 1.5em 0;
  white-space: pre-wrap;
}
p code {
  line-break: loose;
  overflow-wrap: break-word;
}
/* tables */
table:not([class]) {
  margin-top: 3em;
  margin-bottom: 3em;
  border-collapse: separate;
  border-spacing: 0;
}
table:not([class]) caption {
  text-align: left;
  font-size: 0.75em;
  margin-bottom: 0.625em;
}
table:not([class]) td,
table:not([class]) th {
  padding: 0.5em 1em;
  text-align: left;
  vertical-align: top;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0 0 1px;
}
table:not([class]) thead td,
table:not([class]) thead th {
  vertical-align: bottom;
  border-bottom-width: 2px;
}
/* definition lists */
dl:not([class]) {
  max-width: 50rem;
  margin: 0 0 1.5em;
}
dl:not([class]) dt:not([class]) {
  font-weight: bolder;
}
dl:not([class]) dd:not([class]) {
  margin: 0 0 1.5em;
}
/* other tags */
hr:not([class]) {
  border: 0;
  border-bottom: 1px solid;
  margin: 1.5em 0;
  max-width: 50rem;
  opacity: 0.1;
}
abbr {
  letter-spacing: 0.05em;
  margin-right: -0.05em;
}
strong,
b,
dt {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-size: 1em;
}
