.photo-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}
.tags li {
  padding: 0 1rem;
}
.photo-navigation {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: wrap;
}

.photo-single {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 600px) {
  .tags li {
    padding: 1rem;
  }
}
