body {
  background: #151618;
  height: auto;
}

header {
  margin: 1rem 0rem 2rem 0rem;
}

.blockwrapper {
  width: 100%;
  overflow: auto;
  background: #000;
}

.list-container > p {
  text-align: center;
}

.list-container > ul {
  width: 80%;
  margin: 1rem auto;
}

.blog-post {
  background: #151618;
  font-family: 'B612 Mono', monospace;
}
.blog-post, section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}
.blog-post, article {
  width: 100%;
}

.blog-post, p {
  color: rgb(209, 206, 199);
  font-size: 1rem;
  line-height: 2rem;
  margin: 1rem;
  text-align: justify;
}

.blog-post, li {
  color: rgb(209, 206, 199);
  font-size: 1rem;
  line-height: 2rem;
  margin: 1rem;
  text-align: justify;
}
.blog-post, a {
  color: skyblue;
}

.blog-post pre {
  font-family: monospace;
  color: #fff;
  background: #000;
  font-size: 0.75rem;
}

.blockwrapper pre {
  padding: 0.75rem 1rem;
  width: 93%;
  margin: auto;
  background: #000;
}

.blockwrapper code {
  background: inherit !important;
}

.blog-post, pre {
  margin: 1rem 0rem;
  text-align: left;
  width: 100%;
}

.blog-post code {
  font-family: monospace;
  color: #f5ac46;
  background: #000;
  padding: 3px;
  border-radius: 3px;
}

.blog-post, h3 {
  font-size: 2rem;
  color: #45b3ff;
  margin: 1rem 0rem;
  text-weight: bold;
  text-align: left;
  width: 100%;
}
.blog-post, h4 {
  color: #fff;
  margin: 1rem 0rem;
  text-weight: bold;
  text-align: left;
  width: 100%;
}
.blog-post, h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  margin: 1rem 0rem;
}
.blog-post, figure {
  margin: 1rem 0rem;
}
.blog-post, figcaption {
  color: #dbdbdb;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

body > .mainwrapper {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
}

code span.al { color: #ffff00; } /* Alert */
code span.an { color: #0066ff; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { } /* Attribute */
code span.bn { color: #44aa43; } /* BaseN */
code span.bu { } /* BuiltIn */
code span.cf { color: #43a8ed; font-weight: bold; } /* ControlFlow */
code span.ch { color: #049b0a; } /* Char */
code span.cn { } /* Constant */
code span.co { color: #0066ff; font-weight: bold; font-style: italic; } /* Comment */
code span.do { color: #0066ff; font-style: italic; } /* Documentation */
code span.dt { text-decoration: underline; } /* DataType */
code span.dv { color: #44aa43; } /* DecVal */
code span.er { color: #ffff00; font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #44aa43; } /* Float */
code span.fu { color: #ff9358; font-weight: bold; } /* Function */
code span.im { } /* Import */
code span.in { color: #0066ff; font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: #43a8ed; font-weight: bold; } /* Keyword */
code span.op { } /* Operator */
code span.pp { font-weight: bold; } /* Preprocessor */
code span.sc { color: #049b0a; } /* SpecialChar */
code span.ss { color: #049b0a; } /* SpecialString */
code span.st { color: #049b0a; } /* String */
code span.va { } /* Variable */
code span.vs { color: #049b0a; } /* VerbatimString */
code span.wa { color: #ffff00; font-weight: bold; } /* Warning */


/* smaller screens */
@media(max-width: 450px) {
  .blog-post, p {
    margin: 1rem 1rem;
    overflow-x: hidden;
  }
  .blog-post, section {
    width: 100%;
    overflow-x: hidden;
  }
  .blog-post, figure {
    max-width: 350px;
    margin: auto;
  }

  .blog-posts {
    overflow-x: hidden;
  }
  body > .mainwrapper {
    height: auto;
    overflow-x: hidden;
  }
}
