body {
  background: #151618;
}

html, body {
  position: fixed;
  overflow: hidden;
}

header {
  margin: 1rem 0rem 2rem 0rem;
}

.blockwrapper {
  width: 100%;
  overflow: auto;
}

.blog-post {
  background: #151618;
  font-family: 'B612 Mono', monospace;
}
.blog-post, section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}
.blog-post, article {
  width: 100%;
}

.blog-post, p {
  color: rgb(209, 206, 199);
  font-size: 1rem;
  line-height: 2rem;
  margin: 1rem;
  text-align: justify;
}

.blog-post, li {
  color: rgb(209, 206, 199);
  font-size: 1rem;
  line-height: 2rem;
  margin: 1rem;
  text-align: justify;
}
.blog-post, a {
  color: skyblue;
}

.blog-post pre {
  font-family: monospace;
  color: #fff;
  background: #000;
  font-size: 0.75rem;
}

.blockwrapper pre {
  padding: 0.75rem 1rem;
  width: 93%;
  margin: auto;
}

.blog-post, pre {
  margin: 1rem 0rem;
  text-align: left;
  width: 100%;
}

.blog-post code {
  font-family: monospace;
  color: #f5ac46;
  background: #000;
  padding: 3px;
  border-radius: 3px;
}

.blog-post, h3 {
  font-size: 2rem;
  color: #45b3ff;
  margin: 1rem 0rem;
  text-weight: bold;
  text-align: left;
  width: 100%;
}
.blog-post, h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  margin: 1rem 0rem;
}
.blog-post, figure {
  margin: 1rem 0rem;
}
.blog-post, figcaption {
  color: #dbdbdb;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

body > .mainwrapper {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
}


/* smaller screens */
@media(max-width: 450px) {
  .blog-post, p {
    margin: 1rem 1rem;
  }
  .blog-post, section {
    width: 100%;
  }
  .blog-post, figure {
    max-width: 350px;
    margin: auto;
  }
}
