body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1rem 0rem;
}

section {
  max-width: 70%;
  margin: auto;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

li {
  margin: 0;
  padding: 8px 0px;
}

p {
  margin: 0;
}

h3 {
  text-align: left;
  margin: 0;
  padding: 12px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  white-space: nowrap;
  color: rgb(209, 206, 199);
  font-family: Arial;
  width: 100%;
}

th {
  color: #f5ac46;
  border-bottom: solid 3px;
}

td {
  padding: 8px 0px;
}

tr {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

blockquote {
  margin: 1rem 0rem;
}

.highlighter-rouge {
  width: 70%;
}

.tags {
  height: 3rem;
  padding: 1rem 0rem;
  display: flex;
  width: 70%;
  justify-content: flex-start;
  align-self: flex-start;
}


.tags p {
  padding: 0px 12px;
}

pre {
  width: auto;
  padding: 12px;
}

@media only screen and (max-width: 760px) {
  section {
    max-width: 100%;
    margin: 0;
    padding: 1rem;
  }
  .highlighter-rouge {
    width: 100%;
  }
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { border: none; }
  td {
    border: none;
    position: relative;
    padding-left: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: prewrap;
  }
  tr:nth-of-type(odd) {
    background: #2b2e33;
  }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  td:nth-of-type(1):before { content: "Title"; }
  td:nth-of-type(2):before { content: "Author"; }
  td:nth-of-type(3):before { content: "Rating"; }
  td:nth-of-type(4):before { content: "Read On"; }
}
