/* Reset CSS */
ol,
ul {
  list-style: none;
}
* {
  margin: 0;
}
html {
  overflow: hidden;
}
body {
  overflow: auto;
}
html,
body {
  font: inherit;
  font-family: "Anton", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: auto;
}
