@-webkit-keyframes Animate {
  0%{background-position:0% 97%}
  50%{background-position:100% 4%}
  100%{background-position:0% 97%}
}
@-moz-keyframes Animate {
  0%{background-position:0% 97%}
  50%{background-position:100% 4%}
  100%{background-position:0% 97%}
}
@keyframes Animate {
  0%{background-position:0% 97%}
  50%{background-position:100% 4%}
  100%{background-position:0% 97%}
}

#root {
  background: linear-gradient(84deg, #246655, #244066, #4b2466, #f2bd39);
  background-size: 800% 800%;
  -webkit-animation: Animate 10s ease infinite;
  -moz-animation: Animate 10s ease infinite;
  animation: Animate 10s ease infinite;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  -webkit-overflow-scrolling: touch;
}
#body-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
  overscroll-behavior: none;
}

#cursor {
  position: absolute;
  z-index: 12;
  width: 50px;
  height: 50px;
}
#programming {
  background: radial-gradient(
  farthest-corner at 40px 40px,
  #5042f4,
  #42b0f4,
  #743bb5,
  #b942f4,
  #9f3cc9
  );
  width: 100vw;
  overflow: hidden;
}
tr {
 margin-bottom: 8px;
 color: white;
 background: black;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
 padding: 8px;
 cursor: pointer;
 border-radius: 5px;
}

table {
  align-self: center;
}
th > p {
  display: block;
  margin: 0;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.center {
  align-items: center;
  justify-content: center;
}
.overflow {
  overflow: auto;
}
.baseline {
  align-items: baseline;
}
.center-text {
  text-align: center;
}

.bg-black {
  background: black;
}
.w100 {
  width: 100%;
}
.transparent {
  opacity: 0;
}
.p1 {
  padding: 1rem;
}
.h200 {
  height: 200px;
}
.space-even {
  justify-content: space-evenly;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.txt-white {
  color: #fff;
}

.flex-even {
  flex: 1 0 50%;
}

.checkbox input[type="checkbox"]:focus + label::after {
  outline: rgb(59, 153, 252) auto 2px;
}

.checkbox input[type="checkbox"] {
  position: absolute;
}

.checkbox input[type="checkbox"]:checked + label::after {
    background-color: #b942f4;
}

.topic-filter {
  position: relative;
  padding-left: 5px;
}

.topic-filter::after {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid white;
  margin-left: 5px;
  border-radius: 10px;
  position: absolute;
  top: 4px;
}

#other {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./space.png");
  justify-content: space-around;
  width: 100%;
  height: 400px;
}

#root a {
  background: #000;
  color: #fff;
  padding: 3px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
}
.no-overflow {
  overflow: hidden;
}
.header {
  font-size: 2.5rem;
  color: #fff;
  background: #000;
  text-align: center;
  margin: 2rem auto;
  padding: 0px 5px;
}

.subheader {
  font-size: 2rem;
  color: #fff;
  background: #000;
}
.br5 {
  border-radius: 5px;
}
.shadow {
  box-shadow: 3px 3px 8px #3a3535bf;
}
.dashed-bottom {
  height: 10px;
  border-bottom: 2px dashed #dbdbdb;
  width: 100%;
}

#toc-container {
  width: 80%;
  border-radius: 8px;
  border: 1px solid #ababab;
  background: #333333b5;
  margin: auto;
}
.toc-list {
  margin: 0;
  padding: 0;
}
.box {
  width: 180px;
  height: 200px;
  margin: 5px;
  padding: 10px;
}
.box i {
  font-size: 1rem;
}
.list a, span {
  margin: 10px;
  background: #000;
  color: #fff;
  padding: 3px;
}
.list > * > a {
  text-decoration-color: aquamarine;
  font-weight: bold;
  color: aquamarine;
}

.list > * > a:hover {
  font-weight: bold;
  background: aquamarine;
  color: #fff;
}
.list > * > a:visited {
  color: #fff;
}

#nav-toggle {
  display: none;
}

#menu {
  display: none;
}

/* smaller screens */
@media(max-width: 450px) {
  #cursor {
    display: none;
  }
  #nav-toggle {
    align-self: flex-start;
    font-size: 2rem;
    text-decoration: none;
    display: block;
    position: absolute;
    z-index: 1000;
    width: 100%;
    padding: 3px;
    background-color: #000;
  }
  #menu {
    background-color: #000;
    width: 100%;
    position: absolute;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(-150%);
    transition: transform 0.3s linear;
  }
}

/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: monospace;
  font-size: 130.5%;
  -webkit-font-smoothing: antialiased;
}
/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: monospace;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}
h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}
h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
}
h3 {
  font-size: 1.414rem;
}
h4 {
  font-size: 0.707rem;
}
h5 {
  font-size: 0.4713333333333333rem;
}
h6 {
  font-size: 0.3535rem;
}
/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}
/* Code blocks */
code {
  vertical-align: bottom;
}
/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}
/* Hug the block above you */
.hug {
  margin-top: 0;
}
