

@-webkit-keyframes AnimationName {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}
@keyframes AnimationName {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}

#root {
 background: linear-gradient(84deg, #246655, #244066, #4b2466, #f2bd39);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
  /* background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.5)), */
  /* url("https://i.redd.it/kshhsob9pyv21.jpg") center repeat; */
  background-size: 800% 800%;
  height: 700px;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}
#body-container {
  overflow-y: auto;
  overflow-x: hidden;
}
#cursor {
  position: absolute;
  width: 50px;
  height: 50px;
}
#programming {
  background: radial-gradient(
  farthest-corner at 40px 40px,
  #5042f4,
  #42b0f4,
  #743bb5,
  #b942f4,
  #9f3cc9
  );
  width: 100vw;
  overflow: hidden;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.400h {
  height: 400px;
}
.center-text {
  text-align: center;
}

.bg-black {
  background: black;
}

txt-white {
  color: #fff;
}

#blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("http://pixelartmaker.com/art/8baf7524e2c592a.png");
  width: 100%;
  height: 400px;
  padding: 20px;
}

#root a {
  background: #000;
  color: #fff;
  padding: 3px;
  text-decoration-color: aquamarine;
  font-weight: bold;
}
.no-overflow {
  overflow: hidden;
}

.header {
  font-size: 2.5rem;
  color: #fff;
  background: #000;
  text-align: center;
  margin: 2rem auto;
}

.subheader {
  font-size: 2rem;
  color: #fff;
}
.dashed-bottom {
  height: 10px;
  border-bottom: 2px dashed #dbdbdb;
  width: 100%;
}

#toc-container {
  width: 80%;
  border-radius: 8px;
  border: 1px solid #ababab;
  background: #333333b5;
  margin: auto;
}
.toc-list {
  margin: 0;
  padding: 0;
}
.list {
  font-size: 1.5rem;
}
.list li {
  margin: 10px;
  background: #000;
  color: #fff;
  padding: 3px;
}
.list > * > a {
  text-decoration-color: aquamarine;
  font-weight: bold;
  color: aquamarine;
}
.list > * > a:visited {
  color: #fff;
}

