{{ define "main" }}
<h1 class="page-title">RSS Feeds</h1>

<style>
  .feeds {
    width: 70%;
    margin: auto;
  }
  .feeds li {
    margin: 0.75rem 0;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
  }

  @media (max-width: 600px) {
    .feeds {
      width: 100%;
      padding-left: 0;
    }
    .feeds li {
      margin: 2rem 0;
    }
  }
</style>

<ul class="posts feeds">
  {{ range sort .Site.Data.rssfeeds.list "title" }}
  <!--prettier-ignore-->
  <li>
    {{ if (eq .imgData "") }}
      <div style="text-align: center; margin: 0 0.45rem; height: 40px; width: 40px;">📜</div>
    {{ else }}
    <img style="margin: 0 0.45rem; border: none;" height="40" width="40" src="data:{{ .imgData }}" />
    {{ end }}
    <a href="{{ .site_url}}">{{ .title }}</a>
</li>
  {{ end }}
</ul>
{{ end }}
