<div class="h-card">
  <a class="pic-link" href="https://en.wikipedia.org/wiki/Pygmy_slow_loris"
    ><img
      class="u-photo"
      src="{{.Site.BaseURL}}Nycticebus_pygmaeus_002.webp"
      alt="pygmy
    slow loris, an endangered and beautiful creature"
  /></a>
  <div class="info">
    <span class="p-name">Taylor Thompson</span>
    <a class="u-email" href="mailto:taylor@teukka.tech">taylor@teukka.tech</a>
    <a rel="me" class="u-url">https://teukka.tech</a>
    <span class="p-note">eternally curious person</span>
  </div>
</div>
