<div class="webmention">
  {{ $mentionTitle := or .Title .Slug }}
  {{ $mentionName := printf "%s-%s" .Type $mentionTitle }}
{{if or (isset .Params "aliases") (index $.Site.Data.webmentions $mentionName) }}
  <h3>Mentioned around the web</h3>
  {{ if isset .Params "aliases"}}
    {{- range first 1 .Params.aliases }}
      {{ range (index $.Site.Data.webmentions .) }}
        {{ partial "mention.html"  . }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ range (index $.Site.Data.webmentions $mentionName) }}
      {{ partial "mention.html"  . }}
    {{ end }}
  {{ end }}
{{ end }}
</div>
