<div class="picture">
  {{ if .Get "caption"}}
  <figure>
  {{ end }}
  <a href="{{ .Get "src" }}.{{ .Get "type" }}"><picture
     title="{{ .Get "alt" }}">
      <!-- TODO: Figure out if I want to handle different screen sizes -->
      <!-- media="(min-width: 535px)" -->
      <source
        srcset="{{ .Get "src" }}.{{ .Get "type" }}"
        >
      <!-- <!-1- Small screens -1-> -->
      <!-- <source -->
      <!--   media="(max-width: 534px)" -->
      <!--   srcset="{{ .Get "src" }}.{{ .Get "type" }} 1x, -->
      <!--           {{ .Get "src" }}-sm@2x.{{ .Get "type" }} 2x"> -->
      <!-- Fallback -->
      <img
        class="u-photo"
        src="{{ .Get "src" }}.{{ .Get "type" }}"
        alt="{{ .Get "alt" }}"{{ if .Get "caption"}} {{ end }}>
    </picture>
  </a>
  {{ if .Get "caption"}}
    <figcaption>{{ .Get "caption" }}</figcaption>
  </figure>
  {{ end }}
</div>
