<div class="homefeed h-feed">
  <h2 class="homefeed-title">Recent Updates</h2>
  <hr />
  {{ $pages := (.Paginate .Site.RegularPages)}}
  {{ range $pages.Pages }}
  {{ if in .Site.Params.ShowInMainFeed .Section }}
  <div class="update-container h-entry" id="{{ .Slug }}">
      {{ if in "updates" .Section }}
      <div class="update-header">
        <svg id="i-feed" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"  fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
          <circle cx="6" cy="26" r="2" fill="currentColor" />
          <path d="M4 15 C11 15 17 21 17 28 M4 6 C17 6 26 15 26 28" />
        </svg>
        <ul class="update-tags">
          {{ range .Params.tags }}
          <li><a class="p-category" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
          {{ end }}
        </ul>
      </div>
        <p class="e-content">{{ .Content }}</p>
        <a class="u-uid u-url" href="{{ .RelPermalink }}">{{ dateFormat "Jan 2, 2006 15:04 MST" .Date.Local }}</a>
        {{ end }}
        {{ if in "posts" .Section}}
      <div class="update-header">
        <svg version="1.1" id="Layer_1" stroke="currentColor" fill="currentColor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 92 92" enable-background="new 0 0 92 92" xml:space="preserve">
          <path id="XMLID_1960_" d="M76,2H16c-2.2,0-4,1.8-4,4v80c0,2.2,1.8,4,4,4h60c2.2,0,4-1.8,4-4V6C80,3.8,78.2,2,76,2z M72,82H20V10h52
          V82z M28.5,65c0-2.2,1.8-4,4-4h27c2.2,0,4,1.8,4,4s-1.8,4-4,4h-27C30.3,69,28.5,67.2,28.5,65z M29.1,46c0-2.2,1.8-4,4-4h26.3
          c2.2,0,4,1.8,4,4s-1.8,4-4,4H33.1C30.9,50,29.1,48.2,29.1,46z M29.1,27c0-2.2,1.8-4,4-4h26.3c2.2,0,4,1.8,4,4s-1.8,4-4,4H33.1
          C30.9,31,29.1,29.2,29.1,27z"/>
        </svg>
        <h3 class="kind">Blog Post</h3>
      </div>
      <a class="title u-uid u-url" href="{{ .RelPermalink }}">{{ .Title }}</a>
        <p>{{.Description}}</p>
        <a class="u-uid u-url" href="{{ .RelPermalink }}">{{ dateFormat "Jan 2, 2006" .Date.Local }}</a>
        {{ end }}
        {{ if in "photos" .Section }}
        <div class="update-header">
        <svg
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:cc="http://web.resource.org/cc/"
            id="svg1"
            viewBox="0 0 60 60"
            version="1.0"
            y="0"
            x="0"
            >
            <path
                id="path1725"
                style="stroke-linejoin:round;stroke:#ffffff;stroke-linecap:round;stroke-width:8.125;fill:none"
                d="m37.594 7.375c-1.04 0-1.875 0.8353-1.875 1.875v6.5c0 1.04 0.835 1.906 1.875 1.906h3.406v5.25h-34.438c-1.0392 0-1.8745 0.836-1.8745 1.875v25.969c0 1.04 0.8353 1.875 1.875 1.875h46.876c1.039 0 1.874-0.835 1.874-1.875v-25.969c0-1.039-0.835-1.875-1.874-1.875h-3.376v-5.25h3.376c1.039 0 1.874-0.866 1.874-1.906v-6.5c0-1.0397-0.835-1.875-1.874-1.875h-15.844zm-24.063 9.781c-2.9 0-5.2498 2.35-5.2498 5.25h10.5c0-2.9-2.35-5.25-5.25-5.25z"
                />
            <path
                id="rect815"
                style="fill-rule:evenodd;stroke:#000000;stroke-width:3.125;fill:#ffffff"
                transform="translate(1.438 -1.7115)"
                d="m48.621 18.16v8.358h-9.074v-8.358"
                />
            <path
                id="rect816"
                style="stroke-linejoin:round;fill-rule:evenodd;stroke:#000000;stroke-linecap:round;stroke-width:3.125;fill:#ffffff"
                transform="translate(1.438 -1.7115)"
                d="m36.17 9.0852c-1.04 0-1.877 0.837-1.877 1.8768v6.515c0 1.04 0.837 1.877 1.877 1.877h15.828c1.04 0 1.877-0.837 1.877-1.877v-6.515c0-1.0398-0.837-1.8768-1.877-1.8768h-15.828z"
                />
            <path
                id="path818"
                style="stroke-linejoin:round;fill-rule:evenodd;stroke:#000000;stroke-linecap:round;stroke-width:3.125;fill:#000000"
                transform="translate(1.438 -1.7115)"
                d="m6.8312 24.13c0-2.9 2.3536-5.254 5.2538-5.254 2.9 0 5.253 2.354 5.253 5.254"
                />
            <path
                id="rect810"
                style="stroke-linejoin:round;fill-rule:evenodd;stroke:#000000;stroke-linecap:round;stroke-width:3.125;fill:#ffffff"
                transform="translate(1.438 -1.7115)"
                d="m5.1259 24.607c-1.0397 0-1.8767 0.837-1.8767 1.877v25.977c0 1.04 0.837 1.877 1.8767 1.877h46.872c1.04 0 1.877-0.837 1.877-1.877v-25.977c0-1.04-0.837-1.877-1.877-1.877h-46.872z"
                />
            <path
                id="path811"
                style="stroke-linejoin:round;fill-rule:evenodd;stroke:#000000;stroke-width:1.875;fill:#ffffff"
                transform="translate(1.438 -1.7115)"
                d="m39.368 39.472c0 5.965-4.841 10.806-10.806 10.806s-10.806-4.841-10.806-10.806c0-5.964 4.841-10.805 10.806-10.805s10.806 4.841 10.806 10.805z"
                />
            <path
                id="path813"
                style="stroke-linejoin:round;fill-rule:evenodd;stroke:#000000;stroke-width:1.25;fill:#000000"
                transform="translate(1.438 -1.7115)"
                d="m33.704 39.472c0 2.839-2.303 5.143-5.142 5.143s-5.142-2.304-5.142-5.143c0-2.838 2.303-5.142 5.142-5.142s5.142 2.304 5.142 5.142z"
                />
                </svg
>
        <a class="title u-uid u-url" href="{{ .RelPermalink }}" style="margin-left: 0.5rem;">{{ .Title }}</a>
        </div>
        <p>{{.Description}}</p>
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
  {{ template "_internal/pagination.html" . }}
</div>
