{{ define "main" }}
<main>
  <br>
  <br>
	<article class="h-entry post">
		<div class="title">
      <h1 class="title"><a class="p-name u-url" href="{{ .Permalink }}">{{ .Title }}</a></h1>
			<div class="dt-published meta ">Posted on {{ dateFormat "2006-01-02" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
      <a rel="author" class="p-author h-card" href="/">taylor thompson</a>
		</div>
		{{ if isset .Params "tldr" }}
		<div class="tldr p-summary">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}
		<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">
				<ul class="tags">
					{{ range .Params.tags }}
					<li><a class="p-category" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>
			{{ end }}
			{{ end }}
		</div>

		<section class="body e-content">
			{{ .Content }}
		</section>
	</article>
</main>
{{ end }}
